@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Declaração de variáveis*/
:root {
  --bg-nav: #212121;   
  --gold-color: #DAA520;
  --font-white: #fff;

  --section-white: #fff;
  --section-gray1: #CCCCCC;
  --section-gray2: #6B6B6B;
  --section-gray3: #333333;

  --gold-color-btn: #7f5f0e;
  --gold-color-btn-hover: #996e02;
  --gold-faixa-contato: #ab8117;

  --color-div-form: #636363;

  --font-logo: "Lobster", sans-serif;
  --font-p: "Nunito", sans-serif;
  --font-menu: "Outfit", sans-serif;
  --font-serif:"PT serif", serif;
 
}
/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border: none;
}

html {
    scroll-behavior: smooth; /* Faz a rolagem suave ao clicar nos botões */
}

header {
    display: flex;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 10vh;
}

/* Barra de navegação */

nav {
    display: flex;
    width: 100%;
    background: var(--bg-nav);
    border-bottom: 1.75px solid var(--gold-color);
    align-items: center;
    justify-content: space-around;
    
}

/* Elementos da barra de navegação */

.logo a{
    font-family: var(--font-logo);
    text-decoration: none;
    font-weight: 600;
    font-size: 1.9em;
    font-style: normal;
    color:var(--font-white);
    transition: color 0.4s;
    list-style-type: none;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.7);
}

    .logo ul{
        list-style-type: none;
    }

        .logo a:hover{
            color: var(--gold-color);
        }

.menu-bar li{
    padding: 10px;
    margin: 0px 5px 0px 5px;
    border-radius: 7px 7px 7px 7px;
    transition: opacity 0.3s ease;
    cursor: pointer;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.7);
}

    .menu-bar li:hover {
        opacity: 0.5;

    }

        .menu-bar ul{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;
            list-style-type: none;
            width: 100%;
        }

            .menu-bar ul li a{
                text-decoration: none;
                color: var(--font-white);
                font-weight: 500;
                font-size: 1.1em;
                padding: 0 30px 0 30px;
                font-family: var(--font-menu);
                
            }

.home {
    background-image: url('../src/tatuador.png');
    background-position: top center;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: inset 6px 6px 13px 0px #00000065;
}

.home h1,p{
    font-weight: 600;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.7);
}

.portfolio{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 50px;
    
}

    .portfolio h2{
        color: var(--font-white);
    }

        .portfolio p{
            padding: 0 300px 25px 300px;
        }

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative; /* Necessário para posicionar os botões */
    background-color: black;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;

}

    .slides img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        flex-shrink: 0;

    }


.botao-carousel{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    background: black;
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
    color: white;
    cursor: pointer;

}

.botao-carousel:hover{
    opacity: 0.9;
    width: 60px;
    height: 60px;
}

.esquerda { left: 10px; }
.direita { right: 10px; }

.services img{
    width: 100%;
    height: 100vh;
    background-position: right center;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: inset 6px 6px 13px 0px #00000065;

}

.contact p {
    padding: 0px 300px 70px 300px;
}

.contato{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 57vh;
    background-color: var(--bg-nav);
    box-shadow: 0 4px 10px black;
}

.contato-left{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 50vw;
    height: 50vh;
    font-family: var(--font-p);
    background-color: var(--bg-nav);
    padding-left: 200px;

}

    .contato-left p{
        padding: 10px 0 5px 0;
        font-size: 0.8em;
        font-weight: 800;
        text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.4);
        
    }

        .contato-left > p > span {
            padding-right: 7px;
        }

.blur {
    opacity: 0.7;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
    padding: 0;
}

.contato-form-grid form{
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-auto-rows: auto;
    align-items: center;
    grid-template-areas: 
    "top top top top"
    "left left right right"
    "left left right right"
    "button button button button";
    background-color: var(--color-div-form);
    gap: 25px;
    width: 500px;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 4px 4px 7px black;
}

    .contato-form-grid > form > h2 {
        padding: 10px 0 5px 0;
        font-size: 2em;
        grid-area: top;
        font-family: var(--font-logo);
        color: var(--font-white);
        text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
    }

        .contato-form-left {
            grid-area: left;
            padding-bottom: 70px;
            padding-left: 20px;
            gap: 10px;
            text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
        }

.contato-form-left, .contato-form-right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    color: var(--font-white);
    font-family: var(--font-p);
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
        
}

    

.contato-form-right {
    grid-area: right;
    padding-right: 20px;
    gap: 14px;
    
}

    .contato-form-right > input,select,textarea {
        border-radius: 5px;
        border: 1px solid grey;
        width: 100%;
        text-align: center;
        opacity: 0.8;  
        padding-left: 5px;
        resize: none;
        
    }

        .contato-form-right > input,textarea {
            text-align: left;
        }

            .contato-form-right > form > input,select,textarea {
                font-family: var(--font-p);
                font-weight: 600;
            }

.button-form{
    grid-area: button;
    
}

    .button-form button{
        width: 95%;
        height: 50px;
        border-radius: 20px;
        font-family: var(--font-p);
        font-weight: 600;
        background-color: white;
        font-size: 1.5em;
        opacity: 0.8;
        cursor: pointer;

    }

section > div > div > p > a:hover {
    color: var(--gold-color);
   
}

    section {
        height: 100vh; /* Cada seção ocupa a tela toda */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

        section p {
            font-family: var(--font-p);
            padding: 0 300px 0 300px;
            
        }

            section > div > p  {
                font-family: var(--font-p);
                
            }

                section h1{
                    font-family: var(--font-serif);
                    font-weight: 700;
                    font-size: 1.9em;
                    font-style: normal;
                }

                    section h2{
                        font-family: var(--font-serif);
                    }

                        section h1,h2,p {
                            padding: 0 0 30px 0;
                                
                        }

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "social port"
        "location port";
        
    gap: 10px;
    height: 100%;
    width: 100%;
    padding: 10px;
    background-color: var(--bg-nav);
}


    footer h2 {
        color: var(--font-white);
        text-align: center;
        font-family: var(--font-logo);
        font-size: 1.5em;
    }

        footer ul,li,p,a {
            color: var(--font-white);
            text-align: center;
            font-family: var(--font-p);
            text-decoration: none;
            list-style-type: none;
            transition: color 0.4s ease;
        }


.location {
    grid-area: location;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

    iframe{
        width: 90%;
        height: 300px;
    }

.social {
    grid-area: social;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
    .social a {
        padding: 0 0 0 5px;

    }
        .social a:hover{
            color: var(--gold-color-btn-hover);
            
        }



/*Icons*/

.fa-instagram {
    padding: 0 5px 0 10px;
  
}

.fa-facebook {
    padding: 0 5px 0 0;
} 

.portfolio-footer{
    grid-area: port;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


.container {
    display: flex;
    height: 75vh;
    width: 90vh;
    
}

    .accordion {
        height: 100%;
        flex: 1;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        cursor: pointer;
        transition: all 900ms cubic-bezier(0.075, 0.82, 0.165, 1);

    }

        .accordion:hover {
            flex-basis: 35vw;

        }


/* Cores Alternadas para seções */
#home { background-color: var(--section-gray3); color: var(--font-white); }
#carousel { background-color: var(--section-white);}
#portfolio { background: radial-gradient(circle, #636363 40%, #333333 100%); }
#services { background-color: var(--section-gray2); }
#contact { background-color: var(--section-gray3); color: var(--font-white); }


/* Estilo do Botão */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--gold-color-btn);
    color: var(--font-white);
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: background 0.3s;
}

.btn:hover {
    background-color: var(--gold-color-btn-hover);
}